@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Black.otf) format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: Clairseach;
    src: url(../fonts/Clairseach-Regular.otf) format('opentype');
    font-weight: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Clairseach;
}

:root {
    --color-background: #BFE6E0;
    --light-grey: #D9D9D9;
    --mid-grey: #808080;
    --dark-grey: #444444;
    --lime-accent: #D2DB5D;
    --lilac-accent: #B8A4CF;
    --orange-accent: #ef806c;
    --evergreen-accent: #009982;
    --logo-fill: #009982;

    --change-color: #009982;
    --guess-color: #ABB7B7;
    --win-color: #D2DB5C;
    --answer-color: #FF5933;
    --play-next-color: #00605C;
    --splash-screen-color: #F8FAE8;
}

body {
    background-color: white;
    margin: auto;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    height: 100dvh;
    width: 100%;
}

html {
    font-size: clamp(0.4rem, 2.65vh, 2.5em);
}

@media screen and (max-width: 600px) {
    html {
        font-size: clamp(0.4rem, min(4.75vw, 2.65vh), 2.5em);
    }
}

.center-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100dvh;
}

.no-display {
    display: none;
    visibility: collapse;
}

.white {
    background-color: white;
}

.off-white {
    background-color: var(--splash-screen-color);
}

.gap {
    margin-top: var(--amount);
}

.gap.under {
    margin-bottom: var(--amount);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 19.0em;
}

.box-info-skills {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: center;
    width: 18.0em;
}

.skill-shape {
    width: 1.1em;
    height: 1.1em;
    border-radius: .1em;
    margin-bottom: .2em;
}

.skill-shape.green {
    background-color: var(--evergreen-accent);
}
.skill-shape.lilac {
    background-color: var(--lilac-accent);
}
.skill-shape.orange {
    background-color: var(--orange-accent);
}
.skill-shape.lime {
    background-color: var(--lime-accent);
}

.box.buttons {
    width: 17.5em;
}

.text-box-info {
    width: 22em;
    display: flex;
    justify-content: left;
    font-size: .7em;
}

.text-box-info.heading {
    width: 20em;
    font-weight: bolder;
    font-size: 0.8em;
}

.text-box-info.small {
    font-size: 0.5em;
}

.text-box-info.graph {
    font-size: 0.5em;
    margin-left: 2.5em;
}

.text-box-info.performance {
    font-size: 0.7em;
    font-weight: bold;
}

.text-box-welcome {
    width: 18em;
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin-bottom: -2.35em;
}

.text-box-game {
    width: 18em;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

.text-box-welcome.long {
    margin-bottom: 0em;
    width: 18em;
}

.box.left {
    justify-content: left;
}

.box.right {
    justify-content: right;
}

.shake {
    animation: shake 250ms ease-in-out;
}

.tile.dance {
    animation: dance 500ms ease-in-out;
}

.tile.flip {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0%);
    }
}

.alert-container {
    position: fixed;
    top: 9vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-container.stats {
    top: clamp(1em, 60vh, 30em);
}

.alert {
    border: none;
    pointer-events: none;
    background-color: var(--win-color);
    padding: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .55em;
}

.alert.win {
    background-color: var(--win-color);
}

.alert.loss {
    background-color: var(--answer-color);
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}

.welcome-header {
    width: 10em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-grid {
    font-size: 0.9em;
    display: grid;
    grid-template-columns: repeat(4, 4.5em);
    grid-template-rows: repeat(4, 4.5em);
    gap: .6em;
}

.overlay-grid {
    font-size: 0.9em;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 4.5em);
    grid-template-rows: repeat(4, 4.5em);
    gap: .6em;
    pointer-events: none;
    z-index: 10;
}

.game-button {
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background-color: var(--light-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    cursor: pointer;
    user-select: none;
}

.game-button.selected {
    background-color: var(--mid-grey);
    color: white;
}

.game-bar {
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background-color: var(--light-grey);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    line-height: .6em;
    grid-column: span 4;
}

.game-bar.green {
    background-color: var(--evergreen-accent);
}
.game-bar.lilac {
    background-color: var(--lilac-accent);
}
.game-bar.orange {
    background-color: var(--orange-accent);
}
.game-bar.lime {
    background-color: var(--lime-accent);
}

.game-bar.hidden,
.game-button.hidden {
    visibility: hidden;
}

.game-button.submitted{
    pointer-events: none;
    cursor: default;
}


.dot {
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    background-color: var(--dark-grey);
    margin-left: .6em;
}

.dot.hidden {
    visibility: hidden;
}