.page {
    visibility: hidden;
    position: absolute;
    margin-top: .5em;
    padding-top: .5em;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.page.active {
    visibility: visible;
    position: relative;
}

.header {
    display: inline-flex;
    gap: 1em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.underline {
    width: 19em;
    margin: 0;
    height: 2px;
    background: hsl(209, 7%, 78%);
}

.underline.game {
    margin-left: 2em;
    width: 15em;
    background: skyblue;
}

.conundrum-horizontal-icon {
    height: 1.25em;
    padding-left: 1em;
}

.icon {
    height: 1.25em;
    user-select: none;
    cursor: pointer;
}

.icon.hidden {
    visibility: hidden;
    user-select: none;
}

.button {
    height: 2.5em;
    background: black;
    border: none;
    border-radius: 2em;
    font-size: 0.8em;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.button.play {
    width: 9em;
    margin-top: 1.60em;
}

.button.welcome {
    width: 12em;
    font-size: 0.75em;
}

.button.share {
    width: 9em;
}

.button.share.inactive {
    background-color: grey;
}

.button.shuffle {
    width: 6em;
    color: black;
    background: none;
    border: solid black .1em;
}

.button.deselect {
    width: 8em;
    color: black;
    background: none;
    border: solid black .1em;
    margin-left: 1em;
}

.button.submit {
    width: 6em;
    color: black;
    background: none;
    border: solid black .1em;
    margin-left: 1em;
}

.button.disabled {
    border-color: var(--guess-color);
    cursor: default;
    color: var(--guess-color);
}

.timer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: .25em;
    border: solid black;
    width: 5em;
    padding: 0.2em;
}

.card {
    border: .1em solid black;
    border-radius: .2em;
    padding: .4em;
    margin: .2em;
    width: 2em;
    height: 2em;
}

.card-button {
    color: black;
    background: white;
    border: .1em solid black;
    border-radius: .1em;
    padding-bottom: .35em;
    margin: .05em;
    width: 1.8em;
    height: 2.25em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.card-button.hidden {
    cursor: none;
    pointer-events: none;
    display: none;
}

.card-button.non-interactive {
    cursor: none;
    pointer-events: none;
}

.guess {
    border: .1em solid var(--guess-color);
    background: var(--guess-color);
}

.changed {
    border: none;
    background-color: var(--change-color);
}

.statistic {
    display: inline;
    border-color: black;
    width: auto;
    height: auto;
    grid-column: span 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.statistic.dummy {
    visibility: hidden;
}

.statistic.wide {
    grid-column: span 2;
}

.statistic-data {
    font-size: 1.25em;
    margin-bottom: -.5em;
}

.statistic-label {
    font-size: .65em;
}

.stats-grid {
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: repeat(2, 4.5em);
    gap: .5em;
    margin-bottom: 1em;
    margin-top: -1.2em;
    margin-left: 0.7em;
}
