.text-game-timer {
    padding-left: 0.6em;
}

.text-game-heading {
    font-size: 1.2em;
    font-weight: bold;
}

.text-game-small {
    font-size: 1.2em;
}

.text-game-hint {
    width: 20em;
    height: 2em;
    line-height: 0.85em;
    font-style:  italic;
    font-size: 0.8em;
}

.text-game-hint.hidden {
    visibility: hidden;
}

.text-game {
    font-weight: bold;
}

.text-game-number {
    font-size: 1em;
    font-weight: bold;
}

.text-game-letters {
    font-size: .8em;
}

.text-game-answer {
    font-size: .8em;
}

.text-game-solution {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--answer-color);
}

.text-info-title {
    font-weight: bold;
    font-size: 1.5em;
}

.text-info-heading {
    font-weight: bold;
    font-size: 1.2em;
}

.text-stats-heading {
    font-weight: bold;
    font-size: 1em;
}

.text-stats-grade {
    font-weight: bold;
}

.text-welcome-title {
    font-weight: bolder;
    font-size: 1.2em;
}

.text-welcome-subtitle {
    font-size: 0.8em;
    font-weight: bold;
}

.text-welcome-date {
    font-weight: bold;
    font-size: 0.8em;
}

.text-welcome-puzzle {
    font-size: 0.8em;
}

.info-absolute {
    position: absolute;
    margin-left: 1.5em;
}

.text-box-stats {
    width: 22em;
    display: flex;
    justify-content: center;
    font-size: .8em;
}

.text-box-stats.heading {
    width: 20em;
    font-weight: bolder;
    font-size: .9em;
}

.button.stats {
    background: none;
    border: solid black .1em;
    color: black;
    width: 15em;
    margin: 0.5em;
    border-radius: 0.25em;
    font-size: 0.7em;
    height: 3em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button.stats.selected {
    background: black;
    border: none;
    color: white;
}

.overlay {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
}

.overlay.active {
    visibility: inherit;
    position: relative;
}

.hr-stats {
    width: 17em;
    border: solid black 0.01em;
}

.hr-stats.dotted {
    border: dashed grey 0.01em;
}
